:root {
  --text-warna: #fff;
  --navbar-warna: #000;
  --red-navbar: #FF0000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: auto;
}

body {
  height: 100%;
  scroll-behavior: smooth;
  background-image: url("img/bgform.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--text-warna);
  background-attachment: fixed;
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif;
}

nav {
  position: fixed;
  width: 100%;
  z-index: 999;
  display: flex;
  justify-content: space-around;
  font-size: 15px;
  padding: 25px 0;
  background-color: var(--navbar-warna);
}

nav ul {
  display: flex;
  list-style: none;
  width: 40%;
  justify-content: space-between;
}

nav ul li a {
  position: relative;
  text-decoration: none;
  padding: 0 10px;
  letter-spacing: 0.5px;
  text-decoration: none;
  color: var(--text-warna);
  font-family: 'Poppins', sans-serif;
}

nav ul li a:after {
  content: "";
  position: absolute;
  background-color: var(--red-navbar);
  height: 3px;
  width: 0;
  left: 0;
  bottom: -10px;
  transition: 0.3s;
}

nav ul li a:hover:after {
  width: 100%;
}

nav .nama {
  letter-spacing: 3px;
  font-size: 1rem;
}

nav .nama .halftext {
  color: var(--red-navbar);
}

/* dropdown menu */

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 150px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  z-index: 999;
}

.dropdown-content a:hover {
  background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* set-yang berada di about me */
#text,
h1 {
  margin-left: 3em;
  padding-top: 50px;
  font-size: 1.5em;
  border-collapse: collapse;
}

#about {
  padding-top: 4em;
  margin-left: 3em;
  letter-spacing: 3px;
  border-bottom: 3px solid #E4405F;
  padding-bottom: 10px;
  line-height: 48px;
  width: 7em;
}

#text {
  padding-bottom: 2em;
}

.tengah {
  margin-left: 3em;
  list-style-image: url(img/square.gif);
}

/* set-ukuran font hobi*/
.kesukaan {
  font-size: 2em;
  letter-spacing: 3px;
  border-bottom: 3px solid #E4405F;
  padding-bottom: 10px;
  line-height: 48px;
  width: 3em;
}

/* set ukuran font yang berada di ul di bawah hobi */
.animate {
  font-size: 1.5em;
}


/* memberikan border dan membuat pindah ke kiri */
table,
tr,
th,
td {
  margin-left: 1em;
  border: 1px solid #000000;
}

/*Memberikan huruf dalam tabel menjadi tengah  */
td {
  padding: 15px;
  text-align: center;
}

th {
  margin-top: 10em;
}

/* set-warna table header */
th {
  padding: 10px;
  height: 3em;
  background-color: #fc6767;
}

/* set-warna untuk tiap baris ganjil */
tr:nth-child(odd) {
  background-color: #6C63FF;
}

tr:nth-child(even) {
  background-color: #46438A;
}

tr:hover {
  background-color: #ABA7E6;
}

#hobi,
#skill {
  padding-top: 15em;
}


h2 {
  padding-top: 5em;
  letter-spacing: 3px;
  border-bottom: 3px solid #E4405F;
  line-height: 48px;
  padding-bottom: 10px;
  width: 12em;
  margin-left: 3em;
}

.table_over {
  overflow-x: auto;
}

/* burger */
.menu-toggle {
  display: none;
  flex-direction: column;
  height: 20px;
  justify-content: space-between;
  position: relative;
}

.menu-toggle span {
  display: block;
  width: 30px;
  height: 3px;
  background-color: var(--red-navbar);
  border-radius: 3px;
  transition: all 0.5s;
}

.menu-toggle input {
  position: absolute;
  width: 40px;
  height: 20px;
  top: -0.5px;
  right: -5.5px;
  opacity: 0;
  z-index: 2;
  cursor: pointer;
}

/* hambuger menu animation */

.menu-toggle span:nth-child(2) {
  transform-origin: 0 0;
}

.menu-toggle span:nth-child(4) {
  transform-origin: 0 100%;
}

.menu-toggle input:checked~span:nth-child(2) {
  transform: rotate(45deg) translate(-3px, 2px);
}

.menu-toggle input:checked~span:nth-child(4) {
  transform: rotate(-45deg) translate(-3px, 1px);
}

.menu-toggle input:checked~span:nth-child(3) {
  opacity: 0;
  transform: scale(0)
}

/* tablet */
@media screen and (max-width: 724px) {
  nav ul {
    width: 50%;
  }
}


/* mobile (hp) */
@media screen and (max-width : 576px) {
  .menu-toggle {
    display: flex;
  }

  nav ul {
    position: fixed;
    display: block;
    padding-top: 90px;
    right: 0;
    top: 0;
    width: 100%;
    height: 190px;
    background-color: var(--navbar-warna);
    z-index: -1;
    flex-direction: column;
    justify-content: space-evenly;
    transition: all 0.5s;
    right: -100%;
  }

  nav ul.slide {
    right: 0;
    opacity: 1;
  }

}