:root {
    --text-warna: #fff;
    --main-black: #000;
    --red-navbar: #FF0000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: auto;
}

body {
    height: 100%;
    background-image: url("img/bgform.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color: var(--text-warna);
    background-attachment: fixed;
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
}

nav {
    position: fixed;
    width: 100%;
    z-index: 999;
    display: flex;
    justify-content: space-around;
    font-size: 15px;
    padding: 25px 0;
    background-color: var(--main-black);
}

nav ul {
    display: flex;
    list-style: none;
    width: 40%;
    justify-content: space-between;
}

nav ul li a {
    position: relative;
    text-decoration: none;
    padding: 0 10px;
    letter-spacing: 0.5px;
    text-decoration: none;
    color: var(--text-warna);
    font-family: 'Poppins', sans-serif;
}

nav ul li a:after {
    content: "";
    position: absolute;
    background-color: var(--red-navbar);
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}

nav ul li a:hover:after {
    width: 100%;
}

nav .nama {
    letter-spacing: 3px;
    font-size: 1rem;
}

nav .nama .halftext {
    color: var(--red-navbar);
}

/* dropdown menu */

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
    display: block;
}


.about_fm {
    padding-top: 12em;
    text-align: center;
}

.about_tb {
    padding-top: 20em;
    padding-left: 5em;
}

.intro {
    z-index: 999;
    letter-spacing: 3px;
    font-size: 3vw;
    border-bottom: 3px solid #E4405F;
    line-height: 48px;
    padding-bottom: 12px;
}


.data {
    display: block;
    padding-top: 3em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}


.about_ts {
    position: relative;
    float: right;
    margin-right: 5em;
    padding-top: 20em;
}

.smpg {
    position: relative;
    z-index: 1;
    float: right;
    padding-top: 26em;
    margin-right: -20em;
}


.diri {
    padding-top: 3em;
    margin-left: 5em;
}

input[type=text],
select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 28vh;
    background-color: #4CAF50;
    color: #fff;
    padding: 14px 20px;
    margin: 8px 0;
}

input[type=submit]:hover {
    background-color: #45a049;
    cursor: pointer;
}

input[type=checkbox] {
    cursor: pointer;
}

input[type=date],
textarea {
    margin: 1em 0;
}

textarea {
    width: 40vw;
    resize: none;
}

#tahunmasuk,
#tahunkeluar,
#tahunaktif,
#tahunterakhir,
#prestasi {
    margin: 10px 0;
}

.brd {
    color: black;
    background-color: white;
    width: auto;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.brd_tb {
    color: black;
    background-color: white;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.shrt {
    width: 20em;
}

.bdline {
    padding-top: 2em;
    border-bottom: 3px solid #E4405F;
}

#brdwidth {
    display: grid;
    grid-template-columns: max-content max-content;
    grid-gap: 20px;
}

#brdwidth label {
    margin: auto 0;
    text-align: right;
}

#brdwidth label:after {
    content: " :";
}

.tengah {
    text-align: center;
    width: 30em;
    height: 30em;
}



/* burger */
.menu-toggle {
    display: none;
    flex-direction: column;
    height: 20px;
    justify-content: space-between;
    position: relative;
}

.menu-toggle span {
    display: block;
    width: 30px;
    height: 3px;
    background-color: var(--red-navbar);
    border-radius: 3px;
    transition: all 0.5s;
}

.menu-toggle input {
    position: absolute;
    width: 40px;
    height: 20px;
    top: -0.5px;
    right: -5.5px;
    opacity: 0;
    z-index: 2;
    cursor: pointer;
}


/* hambuger menu animation */

.menu-toggle span:nth-child(2) {
    transform-origin: 0 0;
}

.menu-toggle span:nth-child(4) {
    transform-origin: 0 100%;
}

.menu-toggle input:checked~span:nth-child(2) {
    transform: rotate(45deg) translate(-3px, 2px);
}

.menu-toggle input:checked~span:nth-child(4) {
    transform: rotate(-45deg) translate(-3px, 1px);
}

.menu-toggle input:checked~span:nth-child(3) {
    opacity: 0;
    transform: scale(0)
}

/* tablet */
@media screen and (max-width: 724px) {
    nav ul {
        width: 50%;
    }
}


/* mobile (hp) */
@media screen and (max-width : 576px) {
    .about {
        padding-bottom: 0;
    }

    #diri {
        padding-left: 7em;
        width: 450px;
        height: 150px;
    }

    .content h2 {
        margin-top: 190px;
    }


    img {
        position: absolute;
        z-index: -999;
    }

    nav ul li a:hover:after {
        width: 0;
    }

    .dropdown:hover {
        display: none;
    }

    .menu-toggle {
        display: flex;
    }

    nav ul {
        position: fixed;
        display: block;
        padding-top: 90px;
        right: 0;
        top: 0;
        width: 100%;
        height: 190px;
        background-color: var(--main-black);
        z-index: -1;
        flex-direction: column;
        justify-content: space-evenly;
        transition: all 0.5s;
        right: -100%;
    }

    nav ul.slide {
        right: 0;
        opacity: 1;
    }

    input[type=submit]:hover {
        background-color: #45a049;
        cursor: pointer;
    }


}